:root {
    --textColorBlack: #000000;
    --textColorRed: rgb(209, 32, 32);
    --textColorLightRed: rgba(209, 32, 32, 0.5);
    --textFont: Verdana;
    --headerFont: 'Arial Black';
    --backgroundColorPurple: rgb(200, 191, 231);
    --backgroundGray: #DDDDDD;
}

body {
    font-family: var(--textFont)
}

#logo {
    width: 50%;
}

nav {
    background-color: var(--backgroundColorPurple);
    font-weight: bolder;
    font-size: 20px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--textColorRed);
}

.navbar-custom .navbar-nav .nav-link {
    color: var(--textColorLightRed);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--textColorRed);
}

.navbar-custom .dropdown-item:hover {
    color: var(--textColorRed);
    background-color: var(--backgroundGray);
}

.navbar-custom .navbar-toggler-icon i {
    color: var(--textColorRed);
    font-size: 32px;
}

main {
    margin-top: 2%;
    text-align: center;
}

h1 {
    font-family: var(--headerFont);
}

input {
    margin-top: 15px;
    text-align: center;
    border: 1px solid var(--textColorRed);
    color: var(--textColorRed);
    width: 220px;
}

#searchBtn {
    margin-top: 15px;
    background-color: var(--backgroundColorPurple);
    color: var(--textColorRed);
    border: 1px solid var(--textColorRed);
    font-family: var(--textFont);
    font-weight: bolder;
    font-size: 18px;
}

#jobsArea {
    display: inline-block;
    border: 1px solid black;
    width: 30%;
    height: 150%;
    margin-top: 2%;
}

.jobLocation {
    margin-bottom: 0px;
}

footer {
    text-align: center;
    margin-top: 10%;
    color: var(--textColorRed);
    background-color: var(--backgroundColorPurple);
    padding-top: 1%;
    padding-bottom: 1%;
}

footer a {
    font-size: 25px;
    color: var(--textColorRed);
    display: inline;
}

footer a :hover {
    color: var(--textColorLightRed);
}

@media screen and (min-width: 600px) {
    .fa-phone-square {
        display: none;
    }
}