html {
    width: 100%;
    height: 100%;
}

body {
    text-align: center;
}

#logo {
    float: left;
}

header a {
    float: right;
}

nav ul li {
    display: inline-block;
}

main {
    margin-top: 10%;
}

h1 {
    display: block;
}

main div {
    display: inline-block;
    border: 1px solid black;
    width: 30%;
    height: 150%;
}

footer {
    margin-top: 10%;
}