:root {
    --textColorBlack: #000000;
    --textColorRed: rgb(209, 32, 32);
    --textColorLightRed: rgba(209, 32, 32, 0.5);
    --textFont: Verdana;
    --backgroundColorPurple: rgb(200, 191, 231);
}

body {
    font-family: var(--textFont)
}

#logo {
    width: 50%;
}

nav {
    background-color: var(--backgroundColorPurple);
    font-weight: bolder;
    font-size: 20px;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: var(--textColorRed);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--textColorLightRed);
}

.navbar-light .navbar-nav :hover {
    color: var(--textColorRed) !important;
}

main {
    margin-top: 2%;
    text-align: center;
}

#jobsArea {
    display: inline-block;
    border: 1px solid black;
    width: 30%;
    height: 150%;
    margin-top: 2%;
}

.jobLocation {
    margin-bottom: 0px;
}

footer {
    text-align: center;
    margin-top: 10%;
    color: var(--textColorRed);
    background-color: var(--backgroundColorPurple);
    padding-top: 1%;
    padding-bottom: 1%;
}

footer a {
    font-size: 20px;
    color: var(--textColorRed);
}

#iconsSec {
    display: inline;
    font-size: 25px;
}

@media screen and (min-width: 600px) {
    .fa-phone-square {
        display: none;
    }
}